#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}

#infoMenu{
	height: 50px;
	color: #f2f2f2;
	position:fixed;
	z-index:70;
	bottom:0;
	width:100%;
	text-align:right;
	font-size:0.9em;
	padding:8px 0 8px 0;
}
.btn:hover {
  background-color: #FF00FF;
  outline-color: #FF00FF;
}
.beibeijia {
  width:100px;
}
.card-body h6{
  font-size:13px;
}

.s1 {
  text-align:center;
  font-size: 1.2em;
}
#test{
  vertical-align: baseline;
  background-image: url("images/light-bl.svg"), url("images/light-br.svg"), url("images/overlay.png"), url("https://lh3.googleusercontent.com/I20NlAbQ9gqfQktEXbQ5wL6T6g5rI7KQK6q2rbn4FYO8RGBsFdQAQSzZI6qRLllke_qiT0Uklnt71BJMb6_Q6ECjPnsV6GPvfNAcIvNAnV6P4QPSvdcLoUlQHrbFrZ6zijxmvymwCA=w2400");
  background-size: 25em, 25em, auto, cover;
  	background-repeat: no-repeat, no-repeat, repeat, no-repeat;
  		background-position: bottom left, bottom right, top left, top center;
}

@media (max-width: 375px){
  .container-a{
    display:none;
  }
  #bottom{
    display:none;
  }
}
#card-image {
    padding: 0 0 10px 0;
  }

@media (max-width: 767px){
  #card-image {
    width: 80%;
  }
  .container-box {
    position: relative;
  }
  .card>img{
    width:120%;
    min-width: 60px;
  }
  .beibeijia{
    width: 100%;
    height: 100%;
  }
}
html { 
  height:100%; 
}
#one {
  width:100%;
}
  #test-box {
    position: relative;
  }
  .container-box {
    position: relative;
  }
.container-a {
    height: 80%;
    width:100%;
     z-index: 5;
   position:absolute;
    top:0;
}
#mainScreen {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
@keyframes barrage{
   from{
     left:100%;
     transform:translateX(0);
   }
   to{
     left:0;
     transform:translateX(-100%);
   }
}

.block{
  left: -1000px;
  position:absolute;
  /* other decorate style */
  animation: barrage 5s linear 2s 3 ;
}
@media (min-width: 768px){
  .card>img{
    width:100px;
  }
}
#bottom{
  z-index: 10;
}
.card-body>a {
  width: 100%;
}
.switch {
  top: 6px;
  left: 5px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
#nav {
  right: 10px;
  top: 10px;
}
.slider {

  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}


#header{
		top:0px;
}
/* Want to add a static footer too. That would be cool I think. */
#footer{
		bottom:0px;
}

#header, #footer{
		position:fixed;
		height: 50px;
		display:block;
		width: 100%;
		background: #333;
		z-index:9;
		text-align:center;
		color: #f2f2f2;
		padding: 0 0 0 0;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 10%);
  background-color: #626163;
  padding: 10px;
}

.item1{
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.item2{
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.item3{
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.item4{

  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.item5{
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.item6{
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.item7{
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.item8{
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.item9{
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.item10{
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.grid-item__subtitle {
  font-size: 25%;
  line-height: 1rem;
  margin: 0;
}
